.user {
    width: 150px;
    height: 150px;
    border: 12px solid var(--blue);
    border-radius: 50%;
    background-color: var(--blue);
    position: relative;
    overflow: hidden;
    /* скрываает заступы :before и :after за размеры */
    margin: 50px;
}

.user::before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

}

.user::after {
    display: block;
    content: "";
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}