.paginator {
    width: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 0px 20px;



}

.pageNumber {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    border: 1px solid rgba(104, 133, 104, 0.5);
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 0 2px 2px 0;
}

.pageNumber:hover {

    font-weight: bold;
    font-size: large;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.472);

}

.sectedPage {
    font-weight: bold;
    font-size: large;
    color: var(--redC);
    background-color: rgba(218, 165, 32, 0.8);
}

button.arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    font-size: 20px;
    height: 25px;
    width: 25px;
    border: 3px outset rgba(255, 217, 0, 0.5);
    /* border-style: outset; */
    background-color: rgba(218, 165, 32, 0.7);
    border-radius: 15px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0);

}

/* .disabledArrow:hover {
    border-color: rgb(222, 99, 99);
    background-color: rgba(218, 165, 32, 0.8);
    color: aliceblue;
    font-weight: normal;
    cursor: auto;
} */