.paginator {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 0px 20px;
    font-size: small;



}

.pageNumber {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    border: 1px solid rgba(104, 133, 104, 0.5);
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 0 3px 4px 0;
    box-sizing: border-box;
    user-select: none;
}

.pageNumber:hover {

    font-weight: bold;
    font-size: large;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.472);

}

.sectedPage {
    font-weight: bold;
    font-size: large;
    color: var(--redC);
    background-color: rgba(218, 165, 32, 0.8);
}

button.arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight:600;

    font-size: 14px;
    height: 25px;
    border: 3px outset rgba(255, 217, 0, 0.5);
    /* border-style: outset; */
    background-color: rgba(218, 165, 32, 0.7);
    border-radius: 15px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);

}

button.arrow.disabled{
    border: 1px outset rgba(255, 217, 0, 0.2);
    background-color: rgba(218, 165, 32, 0.2);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.2);
  }

button.arrow.disabled:hover {
    border: 1px outset rgba(255, 217, 0, 0.2);
    background:rgba(218, 165, 32, 0.2);;
    color: rgba(0, 0, 0, 0.2);
    cursor:not-allowed;
}

.settingPageSize {
    text-align: left;
    justify-content: center;
    padding: 10px 10px;
    margin: 5px 5px;
    line-height: 20px;
    max-width: 60%;
    border-radius: 10px;
    border: 1px inset rgb(245, 248, 245);
    box-sizing: border-box;
    background-color: rgba(1, 15, 57, 0.25);
    padding: 5px 10px;
}

.settingPageSize p {
    margin: -5px 20px;
    font-size: 10px;
    color: rgb(41, 40, 40);

}

.errorSign {
    color: #f1f000;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

