.main {
    border: 3px solid rgba(4, 65, 21, 0.6);
    border-radius: 5px;
}

.usersElement {
    padding: 10px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 150px minmax(min-content, 100%);
    grid-template-rows: 150px 40px;
    gap: 10px;
}

.imageUsers {

    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.usersData {
    display: grid;
    grid-template-columns: 70% 30%;
    border: 1px solid rgba(4, 65, 21, 0.6);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 4px 1px rgba(23, 40, 54, 0.412) inset;
}

.button button  {
    max-height: 50px;
    width: 100px;

    padding: 5px;
    font-size: 13px;

    border-width: 3px;
    border-color: rgba(255, 217, 0, 0.2);
    border-style: outset;
    background-color: rgba(218, 165, 32, 0.2);
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    margin-left: 10px;

}

.button button.activeButton {
    max-height: 50px;
    width: 100px;

    padding: 5px;
    font-size: 13px;

    border-width: 3px;
    border-color: gold;
    border-style: outset;
    background-color: goldenrod;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.5);
    margin-left: 10px;

}
.button button:hover {
    border-color: rgb(222, 99, 99);
        background: radial-gradient(circle, rgba(222, 58, 58, 1) 0%, rgba(136, 7, 7, 1) 100%);
        color: aliceblue;
        font-weight: bold;
}

.sectedPage {
    font-weight: bold;
}