.main {
    border: 3px solid rgba(4, 65, 21, 0.6);
    border-radius: 5px;

}

.main h2 {
    text-align: center;
}


.usersElement {
    padding: 10px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 150px minmax(min-content, 100%);
    grid-template-rows: 150px 40px;
    gap: 5px;
}

.imageUsers {

    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.usersData {
    display: grid;
    grid-template-columns: 70% 30%;
    border: 1px solid rgba(4, 65, 21, 0.6);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 4px 1px rgba(23, 40, 54, 0.412) inset;
    margin-left: 5px;
}

.button button {
    height: 35px;
    width: 130px;
    /* padding: 5px; */
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-width: 3px;
    border-style: outset;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 0px;

    border-color: #5eab45;
    background: radial-gradient(circle, rgba(83, 243, 157, 0.774) 0%, rgb(35, 98, 64) 100%);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.button button.unfollow {

    border-color: rgb(222, 99, 99);
    background: radial-gradient(circle, rgba(222, 58, 58, 1) 0%, rgba(136, 7, 7, 1) 100%);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.5);


}

.button button:hover {
    border-color: gold;
    background: goldenrod;
    box-shadow: 2px 2px 3px 2px rgba(234, 219, 100, 0.5);

}

.button button:disabled {
    color: rgba(255, 255, 255, 0.35);
}

.UsersSearchForm {
    margin: 0 0 20px 20px;

}

.formik input {
    color: #104857;
    border-radius: 3px;
    border: 2px inset rgb(38, 52, 38);
    background-color: rgba(233, 234, 239, 1);
    padding: 1px;
    font-size: 12px;
}

.formik select {
    margin-left: 5px;
    color: #104857;
    border-radius: 3px;
    border: 2px inset rgb(38, 52, 38);
    background-color: rgba(233, 234, 239, 1);
    padding: 1px;
    font-size: 12px;
}

.formik button {
    margin-left: 5px;
    font-size: 12px;
    height: auto;
}