:root {
    --redC: rgb(173, 15, 15);
}


.label {
    display: flex;
    text-align: start;
    margin-left: 5px;
}

.Textarea {
    display: flex;
    justify-content: center;
    width: 99%;
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
}

div.errorTextarea {
    margin-top: 5px;
    display: flex;
    border: solid 2px var(--redC);
    border-radius: 10px;
    overflow: hidden;

}

.warningWrap {
    margin: 5px 50px;
    display: flex;
    align-items: center;
}

.signPic {
    height: 20px;
}

.errorSpan {
    margin-left: 5px;
    text-align: start;
    color: var(--redC);
    font-weight: bold;

}