h2 {
    text-align: center;
}

.wrapper {
    box-shadow: 1px 1px 5px 3px rgba(37, 35, 35, 0.351) inset;
    padding: 20px;
}

.dialogWindow {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.dialogs {
    display:flexbox;
    flex-direction: column;
    font-weight: bold;
  align-items: center;
  position: relative;

}

.dialog>.user span{
    margin-top: 0px;
    position: absolute;
    
    
}

.dialog>.user {
    font-weight: normal;
    margin-top: 10px;
    
}

.dialogs a {
    text-decoration: none;
    color: rgba(32, 88, 88, 0.897);

    
}

.dialogs a.active {
    text-decoration: none;
    color: rgba(218, 206, 44, 0.897);
}

.messages {
    font-weight: bold;

    display: flex;
    flex-direction: column;
    
    
}

.messages>.message {
    font-weight: normal;
    padding-top: 10px;
    
}

.dialogWindow img {
    height: 30px;
    border-radius: 15px;
}

.user span {
    margin-left: 10px;

}

.activeM {
    color: red;
    font-weight: bold;
}