h2 {
    text-align: center;
}

.wrapper {
    box-shadow: 1px 1px 5px 3px rgba(37, 35, 35, 0.351) inset;
    padding: 20px;
}

.wrapper button {
    height: auto;
}

.dialogWindow {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.dialogs {

    flex-direction: column;
    margin: -15px -10px;
    padding-left: 5px;
    border-radius: 10px;
    border: 1px inset rgb(245, 248, 245);
    background-color: rgba(1, 15, 57, 0.08);
}

.dialogs h4 {
    margin-top: 15px;
}

.dialog>.user span {
    margin-top: 5px;
    position: absolute;


}

.dialog>.user {
    font-weight: bold;
    margin-top: 10px;

}

.dialogs img {
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgba(1, 46, 88, 0.721);
}

.dialogs a {
    color: rgba(32, 88, 88, 0.897);


}

.dialogs a.active {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.754);
}

.additionalDialogInfo {
    margin-top: -10px;
    font-weight: normal;
    font-size: 11px;
}

.dialogHasMessages {
    margin-top: -10px;
    color: rgb(66, 48, 228);
}

.dialogHasMessages.dialogNoMessages {
    color: rgba(0, 0, 0, 0.4);
}

.user span {
    margin-left: 10px;


}

.activeM {
    color: red;
    font-weight: bold;
}

.active>.user img {
    border: 2px solid red;

}

.dialog>.user:hover img {
    border: 2px solid var(--greenC);
    box-shadow: 1px 4px 3px 1px rgba(243, 241, 97, 0.88);
}

.dialog>.user:hover span {
    color: var(--greenC);
    box-shadow: 1px 4px 3px 1px rgba(243, 241, 97, 0.88);
}


.messages {
    flex-direction: column;
    margin: -15px 15px;
    width: 98%;
    padding-left: 5px;
    border-radius: 10px;
    border: 1px inset rgb(245, 248, 245);
    background-color: rgba(1, 15, 57, 0.08);
    position: relative;
}

.messages img {
    height: 50px;
    border-radius: 50%;
    
}


.messages h4 {
    margin-top: 15px;
}

.preloader img {
    border-color: transparent;
    height: auto;
    border-radius: 0;
    background-color: rgba(228, 249, 242, 0.731);
    box-shadow: 1px 2px 20px 20px rgba(228, 249, 242, 0.731);


}

.formik {
    padding-left: 10px;
}

.formik input {
    margin-left: 10px;

}

.formik button {
    margin-left: 10px;

}


.messagesBox {
    height: 250px;
    width: 98%;
    overflow-y: scroll;

    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px;
    border: 3px inset rgba(201, 199, 199, 0.88);
    background-color: rgba(1, 15, 57, 0.08);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.7) inset;
}

.closeWindow {
    display: flex;
    justify-content: right;
    width: 98%;

}

.closeWindow button {
    padding-right: 20px;

    background: transparent;
    height: auto;
    width: 25px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.deletedMessagesBox {
    height: 250px;
    width: 98%;
    overflow-y: scroll;

    margin-top: 7x;
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px;
    border: 3px inset rgba(201, 199, 199, 0.88);
    background-color: rgba(244, 244, 246, 1);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.7) inset;

}

.messagePhoto img {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.581);
}

.message>.messagePhoto.greyPhoto {
    position: absolute;
    bottom: -20px;
    left: -44px
}

.message>.messagePhoto.greenPhoto {
    position: absolute;
    bottom: -20px;
    right: -44px
}



.message {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 15px 5px 20px 45px;
    position: relative;

    border-radius: 10px;
    border: 1px inset rgb(245, 248, 245);

    box-shadow: 2px 5px 10px 3px rgba(34, 60, 80, 0.37);
    width: 70%;
}



.message.grey {
    background-color: rgba(228, 229, 231, 1);
}

.message.green {
    margin-left: 90px;
    background-color: rgba(213, 237, 171, 1);
}

.message.grey::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 9px solid rgba(228, 229, 231, 1);
    border-left: 12px solid transparent;
    border-right: 7px solid transparent;
    top: calc(100% - 8px);
    left: -11px;
}

.message.green::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 9px solid rgba(213, 237, 171, 1);
    border-left: 12px solid transparent;
    border-right: 10px solid transparent;
    top: calc(100% - 8px);
    right: -11px;
}

.message>.messageStatus.green {
    position: absolute;
    top: -10px;
    left: -72px
}

.message>.messageStatus.grey {
    position: absolute;
    top: -10px;
    right: -72px
}


.userNameAtMessage {
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(18, 42, 136);

    margin-top: -8px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px inset rgb(245, 248, 245);
    background-color: rgb(145, 205, 223);
    width: fit-content;
}

.messageDate {
    color: rgba(0, 0, 0, 0.4);
    font-size: 11px;
    margin: 10px 10px -10px;
    display: flex;
    justify-content: right;
}

.viewedMessage {
    right: 140px;
    bottom: 0px;
    position: absolute;

}

.message>.deletedMessage.green {
    position: absolute;
    top: 18px;
    left: -64px
}

.message>.deletedMessage.grey {
    position: absolute;
    top: 18px;
    right: -64px
}


.deletedMessage button {
    padding-left: 0px;
    background: transparent;
    height: auto;
    width: 25px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

}


.addMessage {
    display: grid;
    grid-template-columns: auto fit-content(100px);
    margin-top: 20px;
    text-align: center;
    gap: 10px;
}

.onSendMessageClick {
    margin-top: 15px;
    /* display: inline-flex; */
}

.newMessageButton {

    margin: 20px 10px;

}

.updateButton {
    position: absolute;
    bottom: 20px;
    left: 155px;
}

.restoreButton {
    position: absolute;
    bottom: 20px;
    left: 240px;
}

.NewMessagetTextarea {
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;

    background-color: rgba(237, 244, 241, 0.928);
    color: rgb(25, 20, 20);
    border: solid 3px rgba(2, 36, 20, 0.861);
    border-style: inset;
    box-shadow: 5px 4px 3px -2px rgba(34, 60, 80, 0.3) inset;
}

/* ------------------------------------- */

*[data-hint] {
    position: relative;
}

*[data-hint]:hover:after {
    visibility: visible;
    transform: translate(-50%, -90%);
}

*[data-hint]:after {
    visibility: hidden;
    position: absolute;
    transition: transform .5s ease;
    top: -3px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -80%);
    background-color: var(--color-dark-blue-gray);
    color: var(--color-light-blue-gray);
    content: attr(data-hint);
    display: inline-block;
    padding: 7px;
    border-radius: 3px;
    font-size: 0.8em;
    line-height: 1em;
    box-shadow: 2px 5px 10px 3px rgba(34, 60, 80, 0.37)
}