h2 {
    text-align: center;
}

.wrapper {
    box-shadow: 1px 1px 5px 3px rgba(37, 35, 35, 0.351) inset;
    padding: 20px;
}

.dialogWindow {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.dialogs {
    display: flexbox;
    flex-direction: column;
    margin-top: -15px;


}

.dialog>.user span {
    margin-top: 5px;
    position: absolute;


}

.dialog>.user {
    font-weight: bold;
    margin-top: 10px;

}

.dialogs a {
    color: rgba(32, 88, 88, 0.897);


}

.dialogs a.active {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.754);
}

.additionalDialogInfo {
    margin-top: -10px;
        font-weight: normal;
    font-size: 11px;
}

.dialogHasMessages {
    margin-top: -10px;
    color: rgb(66, 48, 228);
}

.dialogHasMessages.dialogNoMessages {
        color: gray;
}

.messages {
    font-weight: bold;
    display: flex;
    flex-direction: column;


}

.messages>.message {
    font-weight: normal;
    padding-top: 10px;

}

.dialogWindow img {
    height: 30px;
    border-radius: 15px;
    border: 2px solid rgb(38, 0, 255);
}

.user span {
    margin-left: 10px;


}

.userMessage {
    font-size: 14px;
    color: rgb(18, 42, 136)
}

.activeM {
    color: red;
    font-weight: bold;
}

.active>.user img {
    border: 2px solid red;

}

.dialog>.user:hover img {
    border: 2px solid var(--greenC);
    box-shadow: 1px 4px 3px 1px rgba(243, 241, 97, 0.88);
}

.dialog>.user:hover span {
    color: var(--greenC);
    box-shadow: 1px 4px 3px 1px rgba(243, 241, 97, 0.88);
}



.addMessage {
    display: grid;
    grid-template-columns: auto fit-content(100px);
    margin-top: 20px;
    text-align: center;
    gap: 10px;
}

.onSendMessageClick {
    margin-top: 15px;
    /* display: inline-flex; */
}

.newMessageButton {

    margin: 20px 10px;

}

.NewMessagetTextarea {
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;

    background-color: rgba(237, 244, 241, 0.928);
    color: rgb(25, 20, 20);
    border: solid 3px rgba(2, 36, 20, 0.861);
    border-style: inset;
    box-shadow: 5px 4px 3px -2px rgba(34, 60, 80, 0.3) inset;
}