.postsBlock {

    background-color: rgba(200, 243, 206, 0.5);
    border: 1px solid rgba(104, 133, 104, 0.5);
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
}



.NewPost {
    display: grid;
    grid-template-columns: auto fit-content(100px);
    margin-top: 10px;
    text-align: center;
    gap: 10px;
}

.NewPostText {
    padding: 5px;
    font-size: 14px;

}

.addPostButton {
    max-height: 40px;

    padding: 10px;
    font-size: 14px;

    border-width: 3px;
    border-color: gold;
    border-style: outset;
    background-color: goldenrod;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.472);

}

.addPostButton:hover {

    border-color: rgb(222, 99, 99);
    background: radial-gradient(circle, rgba(222, 58, 58, 1) 0%, rgba(136, 7, 7, 1) 100%);
    color: aliceblue;
    font-weight: bold;
   

    /* cursor: url(../Settings/Cursors/Umbrella/Link.cur),auto; */
    
}