.Posts {

    background-color: rgba(200, 243, 206, 0.5);
    border: 1px solid rgba(104, 133, 104, 0.5);
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 10px;
}



.NewPost {
    display: grid;
    grid-template-columns: auto fit-content(100px);
    margin-top: 10px;
    text-align: center;
    gap: 10px;
}

.NewPostText {
    padding: 5px;
   font-size: 14px;
    
}

.addPostButton {
    min-height: max-content;
    
    padding: 10px;
    font-size: 14px;

    border: 1px solid gold;
    background-color: goldenrod;
    border-radius: 5px;
}