.avatar_description {
    display: flex;
    margin-top: 10px;
    column-gap: 20px;

}

.avatar {
    width: 18%;
}

.avatar img {
    width: 100%;
    border-radius: 10px;
    border: 3px solid rgba(104, 133, 104, 0.6);
    box-shadow: 2px 5px 10px 3px rgba(34, 60, 80, 0.37);
}


/* Watermark */
.avatar::before {

    content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Henkel-Logo.svg/640px-Henkel-Logo.svg.png");
    opacity: 0.1;

    transform: scale(0.2);
    position: absolute;
    top: 0px;
    right: -150px;
}

.UserStatus {
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 10px;
    border: solid 4px rgba(230, 9, 9, 0.861);
    border-style: inset;
    max-width: 100%;
    color: rgb(245, 25, 29);
    background-color: rgb(244, 222, 204);
    font-size: 16px;
    box-shadow: 5px 4px 3px -2px rgba(34, 60, 80, 0.3) inset;
    cursor: pointer;
}


.UserStatus.active {
    background-color: rgba(14, 171, 111, 0.147);
    color: rgb(25, 20, 20);
    border: solid 3px rgba(2, 36, 20, 0.861);
    border-style: inset;
}


.description {
    margin-left: 30px;
    line-height: 10px;
}

.description .contacts {
    margin: 10px;
    line-height: 0px;
}

.description .contacts ul {
    line-height: 16px;
    font-style: italic;
}

.user_name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px
}

.lookingForAJob {
    width: 80px;
}

.false {
    opacity: 30%;
}



.status {

    display: flex;
    padding: 5px;
}

.status button {
    font-size: 16px;
    border-width: 3px;
    border-color: gold;
    border-style: outset;
    background-color: goldenrod;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.472);

    margin-left: 5px;
    height: 40px;
}

.status button i {
    font-size: 25px;
    font-style: normal;
    color: rgb(110, 6, 6);
    font-weight: bold;
}

.status button:hover {
    border-color: rgb(222, 99, 99);
    background: radial-gradient(circle, rgba(222, 58, 58, 1) 0%, rgba(136, 7, 7, 1) 100%);
    color: aliceblue;
    font-weight: bold;
}

.status button:hover i {
    color: white;
}