
.avatar_description {
    display: flex;
    margin-top: 10px;
    column-gap: 20px;

}

.avatar {
    width: 18%;
}

.avatar img {
    width: 100%;
    border-radius: 10px;
    border: 3px solid rgba(104, 133, 104, 0.6);
    box-shadow: 2px 5px 10px 3px rgba(34, 60, 80, 0.37);
}


        /* Watermark */
.avatar::before {

    content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Henkel-Logo.svg/640px-Henkel-Logo.svg.png");
    opacity: 0.1;

    transform: scale(0.2);
    position: absolute;
    top: 0px;
    right: -150px;
}

.description {
    margin-left: 20px;
}

.user_name {
    font-size: 20px;
    font-weight: bold;

}