body {
    cursor: url(../Settings/Cursors/Umbrella/Arrow.cur), auto;
}

a:hover {
    cursor: url(../Settings/Cursors/Umbrella/Link.cur), auto;
}


.main_pic_wrapper {
    display: flex;
    max-height: 20vh;
}

.main_pic {
    width: 100%;

}

