body {
    cursor: url(../Settings/Cursors/Apostle/Arrow.cur), auto;
    /* cursor: url(../Settings/Cursors/Umbrella/Arrow2.cur), auto; */
}

a:hover {
    cursor: url(../Settings/Cursors/Apostle/UpArrow.cur), auto;
}


.main_pic_wrapper {
    display: flex;
    max-height: 20vh;
}

.main_pic {
    width: 100%;

}

