
.header {
    grid-area: header;
    
    align-items: center;

    background: radial-gradient(circle, rgba(213, 254, 192, 1) 1%, rgba(94, 177, 103, 0.7346288857339811) 66%, rgba(177, 214, 236, 1) 95%);
    padding: 0 10px;
    border: 1px solid rgba(90, 172, 108, 0.586);
    ;
    border-radius: 0 0 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.subheader {
    display: flex;
    align-items: center;
    
    
}

.subheader_logo {
    
    height: 30%;
    width: 50px;

}

.subheader_name {
    flex-grow: 30;
    text-align: center;
    color: #ed151f;
}

.login {
    flex-grow: 1;
    color: beige;
    text-decoration: none;
    border: 1px solid blue ;
    background-color: blue;
    border-radius: 5px;
    max-height: 30px;
    text-align: center;
   
    
}

.login:hover {
        border: 1px solid red;
        background-color: red;
        cursor: pointer;
}

.userPhoto {
    border-radius: 25px;
    height: 50px;
}