.header {
    grid-area: header;
    align-items: center;
    background: radial-gradient(circle, rgba(213, 254, 192, 1) 1%, rgba(94, 177, 103, 0.7346288857339811) 66%, rgba(177, 214, 236, 1) 95%);
    padding: 0 10px;
    border: 1px solid rgba(90, 172, 108, 0.586);
    border-radius: 0 0 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.subheader {
    display: flex;
    align-items: center;
}

.logo {
    height: 0;
}

.logo img {
    margin: 10px -30px;
    height: 40px;
}

.wrapper_Menu_UserData {
    /* display: flex; */
    /* flex-direction: row; */
    margin: 0px 50px;
    
    width: 500%;
}

.menu {
    min-width: 50px;
}

.subheader_name {
    text-align: center;
    color: #ed151f;
}

.userData {
    margin-top: -5px;
    
  

}

.userData button {
    height: 12px;
}

.userLogBut {
    display: flex;
    flex-direction: row;
    height: 52px;
    align-items: center;
    gap: 10px;
}

.userPhoto {
    border-radius: 25px;
    height: 50px;
}

.userName {

    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    border: 1px inset rgb(245, 248, 245);
    background-color: rgba(1, 15, 57, 0.1);
    color: rgb(152, 150, 150);
    padding: 5px;
    height: 20px;
    font-size: 11px;
    margin-top: 3px;
}

.login {
    color: rgb(255 255 255);
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: 5px outset var(--btnBackC);
    background: radial-gradient(circle, rgb(65, 145, 82) 0%, rgb(30, 68, 37) 100%);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 40%);
    transition: all 0.5s ease 0.1s;
    max-height: 30px;

}

.login:hover {
    border: 5px outset red;
    background: var(--btnBackCoHov);
    color: var(--greenC);
    cursor: pointer;
}