
.header {
    grid-area: header;
    display: flex;
    align-items: center;

    background: radial-gradient(circle, rgba(213, 254, 192, 1) 1%, rgba(94, 177, 103, 0.7346288857339811) 66%, rgba(177, 214, 236, 1) 95%);
    padding: 0 10px;
    border: 1px solid rgba(90, 172, 108, 0.586);
    ;
    border-radius: 0 0 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-logo {
    width: 50px;

}

.header-name {
    flex-grow: 1;
    text-align: center;
}