.gamePage {
    margin: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    

}

.gamePage h3 {
    margin-top: 5px;
}

.wrapper {
    display: flex;



    column-gap: 10px;
}

.player {
    justify-content: center;
    margin-top: 10px;
    line-height: 30px;
    width: 100%;
    height: 95px;
    border-radius: 10px;
    border: 1px inset rgb(245, 248, 245);
    box-sizing: border-box;
    background-color: rgba(1, 15, 57, 0.15);

}

.buttonMinus{
    justify-content: center
}