.container {
    display: grid;
    text-align: center;
}

.container img {
    height: 50px;
    margin: -55px 57%;
    border-radius: 50%;
}

.container h2 {
    color: var(--h2);
}

.wrapper {
    display: flex;
}

.searchWrapper {
    margin-top: 10px;
}

.searchWrapper button {
    margin-left: 5px;
    height: 12px;
    font-size: 14px;
}

.sidebar {
    text-align: left;
    justify-content: center;
    padding: 10px 10px;
    margin: 5px 5px;
    line-height: 20px;
    max-width: 55%;
    border-radius: 10px;
    border: 1px inset rgb(245, 248, 245);
    box-sizing: border-box;
    background-color: rgba(1, 15, 57, 0.15);
}

.sidebar input {
    width: 60%;
}

.resetButton {
    height: 12px;
    font-size: 14px;
    border-radius: 5px 0 0 5px;
}

.settingButton {
    height: 12px;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
    }

.sidebar ul {
    margin-left: -40px;
    list-style-type: none;
}

.selected {
    color: rgb(222, 225, 231);
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    padding: 0 10px;
}

.details {
    margin: 10px 5px;
    min-width: 30%;
}

.details img {
    display: flex;
    height: 200px;
    margin: -10px 50px;
    border: 1px solid rgba(104, 133, 104, 0.6);
    box-shadow: 2px 5px 10px 3px rgba(34, 60, 80, 0.37);
}

.details ul {
    text-align: left;
    line-height: 30px;
    list-style-type: square;
    margin: 20px -5px;
    list-style-type: none;
}

.settingPageSize {
    text-align: left;
    justify-content: center;
    padding: 10px 10px;
    margin: 5px 5px;
    line-height: 20px;
    max-width: 60%;
    border-radius: 10px;
    border: 1px inset rgb(245, 248, 245);
    box-sizing: border-box;
    background-color: rgba(1, 15, 57, 0.25);
    padding: 5px 10px;
}

.settingPageSize p {
    margin: -5px 20px;
    font-size: 10px;
    color: rgb(41, 40, 40);
    
}

.settingPageSize button {
    margin-left: 5px;
    height: 12px;
    font-size: 14px;
}