.loginForm {
    width: 50%;
    border: double 3px var(--greenC);
    border-radius: 10px;
    margin: 50px 10% 20px;
    padding: 0px 25px 15px 15px;
    box-shadow: 11px 11px 8px 3px rgba(34, 60, 80, 0.8);
    background-color: rgba(52, 158, 142, 0.5);

}

h2.formHead {
    color: var(--redC);

}



.formError {
    margin: 5px 50px;
    display: flex;
    align-items: center;
    padding: 5px;

    display: flex;
    border: solid 2px var(--redC);
    border-radius: 10px;
    text-align: start;
    color: var(--redC);
    font-weight: bold;
}

.errorSignPic {
    height: 20px;
}

.errorSpan {
    margin-left: 5px;
}

.captureLabel {
    margin: 15px 40px;
    display:block;
    height: 10px;
}

.capturePic{
    border: solid 3px var(--redC);
    border-radius: 10px;
    height: 70px;
    opacity: 80%;
}

.errorAttempts {
    color: gray;
    font-style: italic;
}