.loginForm {
    width: 50%;
    border: double 3px var(--greenC);
    border-radius: 10px;
    margin: 50px 10% 20px;
    padding: 0px 25px 15px 15px;
    box-shadow: 11px 11px 8px 3px rgba(34, 60, 80, 0.8);
    background-color: rgba(52, 158, 142, 0.5);

}

h2.formHead {
    color: var(--redC);

}


button {
    font-size: 16px;
    border-width: 3px;
    border-color: gold;
    border-style: outset;
    background-color: goldenrod;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.472);

    margin-top: 15px;
    height: 30px;
}

button:hover {
    border-color: rgb(222, 99, 99);
    background: radial-gradient(circle, rgba(222, 58, 58, 1) 0%, rgba(136, 7, 7, 1) 100%);
    color: aliceblue;
    font-weight: bold;
    cursor: url(../Content/Settings/Cursors/DeCody/arrow.cur), auto;
}

.formError {
    margin: 5px 50px;
    display: flex;
    align-items: center;
    padding: 5px;

    display: flex;
    border: solid 2px var(--redC);
    border-radius: 10px;
    text-align: start;
    color: var(--redC);
    font-weight: bold;
}

.errorSignPic {
    height: 20px;
}

.errorSpan {
    margin-left: 5px;
}

