body {
  background-color: rgba(192, 190, 237, 0.581);
  max-width: 1500px;
  box-sizing: border-box;
}

.App-wrapper {
display: grid;

grid-template-columns: 2fr 10fr;
grid-template-rows: 80px 5fr;

grid-template-areas: 
"header header"
"nav cont";

grid-gap: 10px;
user-select: none;


}


.App-wrapper-content {
      grid-area: cont;
      
        background-color: rgba(200, 243, 206, 0.5);
        border: 1px solid rgba(104, 133, 104, 0.5);
        padding: 10px 10px;
        border-radius: 10px 10px 0 10px;
        margin-right: 10px;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}





