.nav {
    grid-area: nav;
    background-color: rgba(90, 172, 108, 0.586);
    /* background-color: rgba(33, 104, 50, 0.586); */
    border: 1px solid rgba(19, 61, 29, 0.586);
    padding: 20px 20px;
    border-radius: 10px 10px 10px 0;
    margin-left: 10px;
}

.links {
    display:flex;
    flex-direction: column;
}

.profile_link {
    text-decoration: none;

}

.profile_link:hover {
    color: rgb(63, 19, 19);
    font-weight: bold;
}

.profile_link.active {
    color: rgb(212, 28, 28);
}